vk-api
langchain==0.0.350
langchain-community==0.0.20
langchain-core==0.1.23
langsmith==0.0.87
openai
requests
dotenv
pandas
matplotlib
torch
transformers
sentence-transformers
scikit-learn
numpy
docx
PyYAML
SQLAlchemy
tenacity
pydantic
fastapi
uvicorn
celery
redis
